<body >
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <div align="center" style="margin-top: -20px; margin-left: -20px;"> <img src="assets/puc.png" width="40%" /> <img src="assets/capes.png" width="30%" /></div>
              <!-- <h5 class="card-title text-center">Login </h5> -->
              
              <form style="padding-top: 20px;" [formGroup]="form" (ngSubmit)="submitForm()">
                <div class="form-label-group">
                  <input style="padding-left: 5px;" 
                          type="email" 
                          id="inputEmail" 
                          class="form-control" 
                          placeholder="Email address" 
                          required autofocus
                          formControlName="emailForm">
                 
                </div>
  
                <div class="form-label-group">
                  <input style="padding-left: 5px;" 
                          type="password" 
                          id="inputPassword" 
                          class="form-control" 
                          placeholder="Password" 
                          required
                          formControlName='passwordForm'>
                </div>
  
                <!-- <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div> -->
                <button style="font-size: 14px;" class="btn btn-lg btn-primary btn-block text-uppercase"  type="submit">Entrar</button>
                <hr class="my-4">
                <!-- <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
                <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  