

<app-login *ngIf="logado == 'naoLogado' ;else elseBlock"></app-login>

<ng-template #elseBlock>
<div class="d-flex" id="wrapper" >
  <!-- Sidebar -->
  <div  class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading" style="color: white;"> <h6>Cadastrar</h6> </div>
    <div class="list-group list-group-flush">
      <a href="#" (click)="openModalCadastrar(templateEditar)" class="list-group-item list-group-item-action bg-light" style="color: white;"><h6><img style="margin-right: 20px;" src="assets/device.png" width="15%"/>  Dispositivo  </h6></a>
      <a href="#" class="list-group-item list-group-item-action bg-light" style="color: white;" ><h6> <img style="margin-right: 20px;" src="assets/gateway.png" width="15%"/>Gateway</h6></a>
      <!-- <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Status</a> -->
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-outline-info" id="menu-toggle"> <img  src="assets/menup.png" /></button>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img  src="assets/menup.png" />
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" (click)="sair()" style="color: white;" href="#">Sair <span class="sr-only">(current)</span></a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" style="color: white;" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: white;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> -->
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <router-outlet>
        <app-home></app-home>
      </router-outlet>
      <!-- <h1 class="mt-4">Simple Sidebar</h1>
      <p>Add your content</p> -->
      
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
</ng-template>

<ng-template #templateEditar>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Cadastrar Dispositivo</h4>
  
  </div>
  <div class="modal-body" style="background: #cfd8dc">
    <div class="row" class="col-sm-12">
      <form [formGroup]="formDevice" novalidate (ngSubmit)="submitFormDevice()" >
            <div class="row" >
                <div class="col-sm-6" style="margin-top: 10px">
                    <input type="text" [disabled]="true" class="form-control" placeholder="Id" formControlName="deviceId">
                </div>
                <div class="col-sm-6" style="margin-top: 10px">
                    <input type="text" class="form-control" placeholder="Key" formControlName="key">
                </div>
            </div>
            
            <div align="center">
              <button 
                  type="submit" 
                  class="btn btn-outline-info"
                  style="margin-top: 30px; margin-bottom: 10px; align-content: center"
                  >Cadastrar
              </button>
            </div>
    </form>
        </div>
  </div>
</ng-template>


<!-- <ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#fff"
type = "ball-spin-clockwise">
</ngx-spinner>    -->

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white; margin-top: 15px;" > Carregando... </p></ngx-spinner>

