

.cartao{
    border: 2px;
    border-color: black;
    background-color: #efebe9;
    padding: 15px;
    border-radius: 20px;
    box-shadow:4px 4px 4px #cfd8dc

    ;
}

.cartao2{
    border: 1px;
    border-color: black;
    background-color: #fff;
    box-shadow:2px 2px 2px 2px #cfd8dc;
    padding: 15px;
}

.cartaoDevice{
    border: 1px;
    border-color: black;
    background-color: #80cbc4;
    box-shadow:2px 2px 2px 2px #cfd8dc;
    padding: 15px;
}

.cartaoGateway{
    border: 1px;
    border-color: black;
    background-color: #ef9a9a;
    box-shadow:2px 2px 2px 2px #cfd8dc;
    padding: 15px;
}


.cartao4{
    border: 1px;
    border-color: black;
    background-color: #d7ccc8;
    box-shadow:1px 1px 1px #eceff1;
    padding: 15px;
}

.cartao3{
    background-color: #b0bec5;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 2px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    border: 2px;
    border-color: black;
}
.labelp{
    font-size: 14px;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}


input.ng-valid.ng-touched{
    border: 1px solid green;
}

.text-center{
    font-family: "Courier New", "Monaco", "monospace";
}

