<div class="col-sm-12">
  <div class="row">

    <div class="col-sm-6" style="padding: 20px" >
      <div class="cartaoDevice" >
        <div class="card-block">
          <div class="col-sm-12" style="margin-top: 10px;">
            <div class="row">
              <div class="col-sm-4" style="padding: 10px">
                <img src="assets/iconDevice.png" width="80%"/>
              </div>
              <div class="col-sm-8" style="padding: 10px">
               <h1>50 </h1>
               <h6>Dispositivos Cadastrados</h6>
              </div>
            </div>
          </div>
        
        </div>
      </div>
    </div>

    <div class="col-sm-6" style="padding: 20px" >
      <div class="cartaoGateway" >
        <div class="card-block">
          <div class="col-sm-12" style="margin-top: 10px;">
            <div class="row">
              <div class="col-sm-4" style="padding: 10px">
                <img src="assets/iconGateway.png" width="80%"/>
              </div>
              <div class="col-sm-8" style="padding: 10px">
               <h1>1 </h1>
               <h6>Gateway Cadastrado</h6>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="carregado">
<div class="col-sm-12">
    <div class="row">
  
      <div class="col-sm-3" style="padding: 20px" >
        <div class="cartao2" >
          <div class="card-block">
            <div class="cartao3">
              <h5 style="color: black" class="card-title">Taxa - 1 r/s</h5>
            </div>
            
            <div align = "center" style="margin-top: 10px">
            
                  <!-- <img src="/assets/iconComandas.png" style="padding-top:-20px;width: 30%"> -->
                  <label class="labelp"> Média =  </label>  <label class="labelp" style="padding-left: 4px;"> {{estatistica1s.media}} ms </label> <br>
                  <label class="labelp"> Máximo =  </label> <label class="labelp" style="padding-left: 4px;">{{estatistica1s.max}} ms</label><br>
                  <label class="labelp"> Mínimo =  </label> <label class="labelp" style="padding-left: 4px;">{{estatistica1s.min}} ms</label><br>
                  <label class="labelp"> Desvio =  </label> <label class="labelp" style="padding-left: 4px;"> {{estatistica1s.desvio}} ms</label><br>
              
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-sm-3" style="padding: 20px" >
        <div class="cartao2" >
          <div class="card-block">
            <div class="cartao3">
              <h5 style="color: black" class="card-title">Taxa - 2 r/s</h5>
            </div>
            
            <div align = "center" style="margin-top: 10px">
            
                <!-- <img src="/assets/iconProduto.png" style="width: 30%"> -->

                <label class="labelp"> Média =  </label> <label class="labelp" style="padding-left: 4px;"> {{estatistica05s.media}} ms </label><br>
                <label class="labelp"> Máximo =  </label> <label class="labelp" style="padding-left: 4px;"> {{estatistica05s.max}} ms</label><br>
                <label class="labelp"> Mínimo =  </label> <label class="labelp" style="padding-left: 4px;"> {{estatistica05s.min}} ms</label><br>
                <label class="labelp"> Desvio =  </label> <label class="labelp" style="padding-left: 4px;"> {{estatistica05s.desvio}} ms</label><br>
            
              
            </div>
          </div>
        </div>
      </div>
  
          <div class="col-sm-3" style="padding: 20px">
            <div class="cartao2" >
              <div class="card-block" >
                <div class="cartao3">
                  <h5 style="color: black" class="card-title">Taxa - 5 r/s</h5>
                </div>
                
                <div align = "center" style="margin-top: 10px">
                
                      <!-- <img src="/assets/iconClientes.png" style="width: 30%"> -->

                    <label class="labelp"> Média =  </label> <label class="labelp" style="padding-left: 4px;"> {{estatistica02s.media}} ms</label> <br>
                    <label class="labelp"> Máximo =  </label> <label class="labelp" style="padding-left: 4px;"> {{estatistica02s.max}} ms</label><br>
                    <label class="labelp"> Mínimo =  </label> <label class="labelp" style="padding-left: 4px;"> {{estatistica02s.min}} ms</label><br>
                    <label class="labelp"> Desvio =  </label> <label class="labelp" style="padding-left: 4px;"> {{estatistica02s.desvio}} ms</label><br>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-3" style="padding: 20px" >
            <div class="cartao2" >
              <div class="card-block">
                <div class="cartao3">
                  <h5 style="color: black" class="card-title">Taxa - 10 r/s</h5>
                </div>
                
                <div align = "center" style="margin-top: 10px">
                
                      <!-- <img src="/assets/iconComandas.png" style="padding-top:-20px;width: 30%"> -->
                    <label class="labelp"> Média =  </label> <label class="labelp" style="padding-left: 4px;"> {{estatistica01s.media}} ms</label> <br>
                    <label class="labelp"> Máximo =  </label> <label class="labelp" style="padding-left: 4px;"> {{estatistica01s.max}} ms</label><br>
                    <label class="labelp"> Mínimo =  </label> <label class="labelp" style="padding-left: 4px;"> {{estatistica01s.min}} ms</label><br>
                    <label class="labelp"> Desvio =  </label>  <label class="labelp" style="padding-left: 4px;">{{estatistica01s.desvio}} ms</label><br>
                  
                </div>
              </div>
            </div>
          </div>


      
    </div>
  </div>

  <div class="col-sm-12">
    <div class="row">
  
      
  
      <div class="col-sm-3" style="padding: 20px" >
        <div class="cartao2" >
          <div class="card-block">
            <div class="cartao3">
              <h5 style="color: black" class="card-title">Taxa - 20 r/s</h5>
            </div>
            
            <div align = "center" style="margin-top: 10px">
            
                <!-- <img src="/assets/iconProduto.png" style="width: 30%"> -->
                <label class="labelp"> Média =  </label> <label class="labelp" style="padding-left: 4px;">{{estatistica005s.media}} ms </label><br>
                <label class="labelp"> Máximo =  </label> <label class="labelp" style="padding-left: 4px;"> {{estatistica005s.max}} ms</label><br>
                <label class="labelp"> Mínimo =  </label> <label class="labelp" style="padding-left: 4px;"> {{estatistica005s.min}} ms</label><br>
                <label class="labelp"> Desvio =  </label> <label class="labelp" style="padding-left: 4px;"> {{estatistica005s.desvio}} ms</label><br>
              
            </div>
          </div>
        </div>
      </div>
  
          <div class="col-sm-3" style="padding: 20px">
            <div class="cartao2" >
              <div class="card-block" >
                <div class="cartao3">
                  <h5 style="color: black" class="card-title">Taxa - 50 r/s</h5>
                </div>
                
                <div align = "center" style="margin-top: 10px">
                
                      <!-- <img src="/assets/iconClientes.png" style="width: 30%"> -->
                      <label class="labelp"> Média =  </label> <label class="labelp" style="padding-left: 4px;"> {{estatistica002s.media}} ms</label> <br>
                    <label class="labelp"> Máximo =  </label> <label class="labelp" style="padding-left: 4px;"> {{estatistica002s.max}} ms</label><br>
                    <label class="labelp"> Mínimo =  </label> <label class="labelp" style="padding-left: 4px;"> {{estatistica002s.min}} ms</label><br>
                    <label class="labelp"> Desvio =  </label> <label class="labelp" style="padding-left: 4px;"> {{estatistica002s.desvio}} ms</label><br>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-3" style="padding: 20px" >
            <div class="cartao2" >
              <div class="card-block">
                <div class="cartao3">
                  <h5 style="color: black" class="card-title">Taxa - 100 r/s</h5>
                </div>
                
                <div align = "center" style="margin-top: 10px">
                
                      <!-- <img src="/assets/iconComandas.png" style="padding-top:-20px;width: 30%"> -->
                      <label class="labelp"> Média =  </label> <label class="labelp" style="padding-left: 4px;">{{estatistica001s.media}} ms</label> <br>
                      <label class="labelp"> Máximo =  </label> <label class="labelp" style="padding-left: 4px;"> {{estatistica001s.max}} ms</label><br>
                      <label class="labelp"> Mínimo =  </label> <label class="labelp" style="padding-left: 4px;"> {{estatistica001s.min}} ms</label><br>
                      <label class="labelp"> Desvio =  </label> <label class="labelp" style="padding-left: 4px;"> {{estatistica001s.desvio}} ms</label><br>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-3" style="padding: 20px" >
            <div class="cartao2" >
              <div class="card-block">
                <div class="cartao3">
                  <h5 style="color: black" class="card-title">Autenticação</h5>
                </div>
                
                <div align = "center" style="margin-top: 10px">
                
                      <!-- <img src="/assets/iconComandas.png" style="padding-top:-20px;width: 30%"> -->
                      <label class="labelp"> Média =  </label> <label class="labelp" style="padding-left: 4px;">{{estatisticaAut.media}} ms</label> <br>
                      <label class="labelp"> Máximo =  </label> <label class="labelp" style="padding-left: 4px;"> {{estatisticaAut.max}} ms</label><br>
                      <label class="labelp"> Mínimo =  </label> <label class="labelp" style="padding-left: 4px;"> {{estatisticaAut.min}} ms</label><br>
                      <label class="labelp"> Desvio =  </label> <label class="labelp" style="padding-left: 4px;"> {{estatisticaAut.desvio}} ms</label><br>
                  
                </div>
              </div>
            </div>
          </div>
      
    </div>
  </div>

  <div class="col-sm-12">
    <div class="row">
  
      
    </div>
</div>
</div>

<!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white;margin-top: 5px;"  > Calculando... </p></ngx-spinner> -->